[submodule "greenfield-cosmos-sdk"]
	path = greenfield-cosmos-sdk
	url = git@github.com:bnb-chain/greenfield-cosmos-sdk.git
[submodule "greenfield"]
	path = greenfield
	url = https://github.com/bnb-chain/greenfield
